*.iml
.gradle
/local.properties
/package.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.log
*.aab
*.apk
output.json
/.kotlin
*.hprof
*.jks
*.keystore
google-services.json
fastlane/report.xml
